<!-- Navbar-------------------------------------------------------------------------------------------->
<nav class="navbar navbar-light bg-light" style="border-bottom: 1px solid rgb(197, 197, 197);">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/todooz.png" height="50px" alt="">
  </a>

  <button type="button" class="btn btn-primary" (click)="logout()" style="background-color: #96A844; border-color: #96A844;">logout</button>

</nav>
<!-- -------------------------------------------------------------------------------------------------->

<br>
<br>

<div class="container">
  <p>home works, hello {{ email }} </p>

  <router-outlet></router-outlet>
</div>

<br>

