
a, li {
    cursor: pointer;
}

.footer {
    padding-right: 1em;
    background-color: var(--bg-card);
    color: var(--color-text);
    border-top: 1px solid var(--color-line);
    &-copyright {
      font-size: 9pt;
      position: unset;
      float: right;
  
    }
  }
  
  a {
    color: var(--color-text);
  }

  .bg-light {
    background-color: var(--bg-card)!important;
}