<!-- Navbar-------------------------------------------------------------------------------------------->
<nav class="navbar navbar-light bg-light fixed-top" style="border-bottom: 1px solid var(--color-line);">
    <a class="navbar-brand" href="/login">
      <img src="../../../assets/img/todooz_logo.png" height="50px" alt="">
    </a>
</nav>

  <br>
  <br>
  <br>
  
  <router-outlet></router-outlet>


  <footer class="footer fixed-bottom">
    <div class="footer-copyright">© 2021 Copyright:
      <a>C. Zimmermann - TDZm2v2.2 - <a [routerLink]="['/impressum/']">Impressum</a> </a>
    </div>
  </footer>