<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">


      <div class="col-md-3">

      </div>

      <div class="col-md-6">
        <br>
        <div class="card">
          <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1" style="color: var(--color-text);">{{ 'auth.login' | translate }}
            </h4>
            <p class="text-success text-center"><a style="color: var(--color-text);" routerLink="/signup" routerLinkActive="active">{{ 'auth.noacc' | translate }}...</a></p>
            <hr>
            <form #formData="ngForm" (submit)="onSubmit(formData)">
              <!-- email input---------------->
              <div *ngIf="!isLogedIn" class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                      </svg>
                    </span>
                  </div>
                  <input class="form-control" name="email" [(ngModel)]="email" placeholder="{{ 'auth.email' | translate }}" type="email" required>
                </div>
              </div>
              <!---------------------------->

              <!-- passwort input---------------->
              <div *ngIf="!isLogedIn" class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <svg *ngIf="!isLogedIn" class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                      </svg>
                      <svg *ngIf="isLogedIn" class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M.5 9a2 2 0 012-2h7a2 2 0 012 2v5a2 2 0 01-2 2h-7a2 2 0 01-2-2V9z"/>
                        <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                      </svg>
                    </span>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="{{ 'auth.password' | translate }}" required>
                </div>
              </div>
              <!---------------------------->

              <div class="form-group" *ngIf="!isLogedIn">
                <button type="submit" class="btn btn-info btn-block">{{ 'auth.login' | translate }}</button>
              </div>
              
              <div class="form-group" *ngIf="isLogedIn">
                <button class="btn btn-info btn-block" routerLink="/home">{{ 'auth.continue' | translate }}</button>
              </div>  

              <p class="text-success text-center"><a style="color: var(--color-text);" routerLink="/resetpw" routerLinkActive="active">{{ 'auth.forgPasswd' | translate }}...</a></p>
            </form>

            <hr>

            <div *ngIf="!isLogedIn" class="container">
              <div class="row">
                <div class="col text-center">
                  <button type="button" (click)="loginWithGoogle()" class="btn btn-outline-primary"><img src="../../../assets/img/google.png" alt="Google" style="height: 20px;"> {{ 'auth.google' | translate }}</button>
                </div>
              </div>
            </div>


          </article>
      </div>
      </div>

      <div class="col-md-3">

      </div>
  </div>



</div>


