.btn {
  cursor: pointer;
}

.card  {
  -webkit-box-shadow: 0px 12px 27px -6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 12px 27px -6px rgba(0,0,0,0.25);
  box-shadow: 0px 12px 27px -6px rgba(0,0,0,0.25);
  margin-left: 5px;
  background-color: var(--bg-card);
  color: var(--color-text);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron {
  border-radius: 0;
  //background-image: url(../../../assets/img/night_grey.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-color: var(--bg-app);
}

input, textarea, select {
  background-color: var(--bg-card);
  color: var(--color-text);
  border-color: var(--color-line);
}

input:focus{
  background-color: var(--bg-card);
  color: var(--color-text);
  border-color: var(--color-line);
}

hr {
  background-color: var(--color-line);
}
