<br>
<br>

<div class="container" *ngIf="authService.user | async">

  <h4>{{ 'todo.categorys' | translate }}</h4>

  <br>


<ng-template #categoryModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'todo.addCategory' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-categorys-form (closeModal)="closeModal($event)"></app-categorys-form>
  </div>
</ng-template>


  <p *ngIf="categorys?.length === 0">{{ 'todo.noCategoryYet' | translate }}...</p>


  <ul class="list-group">
    <li class="list-group-item" style="background-color: var(--bg-card);" *ngFor="let category of categorys;">
      {{ category.name }}
      <img *ngIf="!categoryIsUsed(category.name)" src="../../../assets/img/trash.png" alt="delete" (click)="onDelete(category.id)">
      
   </li>
  </ul>

  <br>


  <button type="button" class="btn btn-secondary btn-sm" routerLink="/home" style="margin-right: 10px;">{{ 'todo.back' | translate }}</button>
  <button type="button" class="btn btn-info btn-sm" (click)="openModal(categoryModal)">{{ 'todo.addCategory' | translate }}</button>


</div>





