
.list-group-item {
  &:hover {
      background-color:rgb(245, 245, 245);
  }
}

img {
  height: 18px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
  float: right;

}

.container {
  margin: auto;
  max-width: 600px;
}

.modal-body {
  background-color: var(--bg-app);
}

.modal-header {
  background-color: var(--bg-card);
}
